proj.android/obj/
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android-studio/app/obj/
proj.win32/Debug.win32/
cocos2d/build/
cocos2d/cmake/
cocos2d/docs/
cocos2d/extensions/
cocos2d/external/
cocos2d/licenses/
cocos2d/plugin/
cocos2d/tools/
cocos2d/AUTHORS
cocos2d/CHANGELOG
cocos2d/CMakeLists.txt
cocos2d/download-deps.py
cocos2d/README.cmake
cocos2d/README.md
cocos2d/
bin/
